@import "helpers";

html, body {
  overflow: hidden;
}

#app {
  height: 100%;
  overflow: hidden;
  background-color: var(--main_bgc);

  & .ui-wrapper {
    margin: 10px;
    padding: 8px;
    overflow: hidden;
    background-color: var(--white);
  }
}
